<%= form_with model: article do |form| %>
  <div class="secondContainerCreatePostBar">
    <%= form.text_field :body, placeholder: "Whats happening ?" %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
      <%= form.label :status %><br>
      <%= form.select :status, ['public', 'private'], selected: 'public' %>
  </div>

  <div class="secondConatinerCreateArticleButton">
    <%= form.submit "Post"%>
  </div>
<% end %>




